In [57]:
import pandas as pd

In [58]:
# CSV 파일 읽기 (경로를 본인의 파일 경로로 수정)
df = pd.read_csv('price/6_green_onions_new.csv', header=[0,1], index_col=0)

In [59]:
df

year        2024                 2023                 2022                \
Month      Early    Mid   Late  Early    Mid   Late  Early    Mid   Late
January    10615   9971  11140   8528  10224  10118   7577   7862   8974
February   12204  11703   9506   8653   7595   7095   9672   8891   8274
March       8269   8200   8257   6283   5732   5021   8074   7126   5254
April       7465   6951   8021   4747   4701   5417   4539   4443   4801
May         8326   8216   8115   6797   7183   7994   5101   5516   6599
June        8710   9302  10448   7869   8866  10523   7714   8653  10440
July       11016  10780  11177   9839  10035  12177  10907  10566  10165
August     10813  10667  12875  13689  13075  11340   9408   9029   9119
September  14885  13922  12180   9654   8579   8603  10664  10785  10106
October    11328      0      0  10143  10202   8291   8727   7539   7230
November       0      0      0   6369   5505   6065   6928   6967   6083
December       0      0      0   8193  10122  11382   5840   5832   6881

year        2021  ...  2003  2002              2001              2000        \
Month      Early  ...  Late Early   Mid  Late Early   Mid  Late Early   Mid
January    10110  ...  4560  5233  5722  2258  2639  2399  2381  2707  3369
February   11779  ...  6371  5997  5534  2241  2281  2019  2957  2675  2621
March       6871  ...  4913  4121  3740  1799  1668  1340  2438  2275  1996
April       4608  ...  3321  3142  3225  1272  1352  1531  1770  1527  1399
May         5481  ...  3290  3357  3408  1951  2101  2105  1494  1756  1976
June        5210  ...  3594  3841  3929  2154  2220  2113  2319  2781  2838
July        5858  ...  3894  3823  3822  2150  2155  1992  2731  2636  2404
August      7700  ...  3894  4143  4340  1951  2389  2971  2638  2793  2878
September   7740  ...  4624  5156  5215  3652  4121  4504  2751  2472  2343
October     6947  ...  5413  5416  5136  4127  4105  3508  2261  1890  1726
November    9699  ...  4930  4568  4115  3439  3568  4210  1372  1318  1373
December    6096  ...  3643  3417  3423  4523  4589  4350  1694  1738  1859

year
Month     Late
January      0
February     0
March        0
April        0
May          0
June         0
July         0
August       0
September    0
October      0
November     0
December     0

[12 rows x 75 columns]

In [60]:
# 열 이름에 있는 공백 제거
df.columns = df.columns.map(lambda x: (x[0], x[1].strip()))

In [61]:
# 데이터를 정리할 리스트 초기화
data_list = []

In [62]:
# 각 월과 연도별로 'Early', 'Mid', 'Late' 값을 가져와 딕셔너리 형태로 추가
for month in df.index:
    for year in df.columns.levels[0]:
        # 'Early', 'Mid', 'Late' 값이 존재하는지 확인한 후 가져오기
        early = df.loc[month, (year, 'Early')] if (year, 'Early') in df.columns else None
        mid = df.loc[month, (year, 'Mid')] if (year, 'Mid') in df.columns else None
        late = df.loc[month, (year, 'Late')] if (year, 'Late') in df.columns else None

        data_list.append({
            'year': year,
            'Month': month,
            'Early': early,
            'Mid': mid,
            'Late': late
        })

In [63]:
# 리스트를 DataFrame으로 변환
green_onions_new_try = pd.DataFrame(data_list)

In [64]:
# 결과 확인
print(green_onions_new_try)

     year     Month  Early    Mid   Late
0    2000   January   2707   3369      0
1    2001   January   2639   2399   2381
2    2002   January   5233   5722   2258
3    2003   January   3899   4451   4560
4    2004   January   3207   3463   3710
..    ...       ...    ...    ...    ...
295  2020  December   6933   7069   8180
296  2021  December   6096   6313   7008
297  2022  December   5840   5832   6881
298  2023  December   8193  10122  11382
299  2024  December      0      0      0

[300 rows x 5 columns]

In [65]:
# 변환된 데이터 저장
green_onions_new_try.to_csv('green_onions_new_try.csv', index=False)